/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    // width: 100vw;
    // width: 100vw;
    // height: 100vh;
    overflow-x: hidden;
    // overflow-y: hidden;
    background: #bbbbf5;
    background-color: #bbbbf5;
    background-image: linear-gradient(315deg, #bbbbf5 0%, #f5f5f5 74%);
}

// .container {
//     height: 100vh;
//     font-family: sans-serif;
//     // color: #fff;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
