<div class="category">
    <nav >
        <ul style="  list-style-type: none;">

            <li *ngFor="let tempProductCategory of productCategories">

                <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}
                </a>
                <!-- <p>
                    {{ tempProductCategory.categoryName }}
                </p> -->

            </li>

        
        </ul>

    </nav>
</div>